---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div
  class={`max-w-3xl w-auto mx-auto mt-7 mb-7 ${noPadding ? "px-0" : "px-0"}`}
>
  <svg
    style="width: 12rem; height: auto;"
    width="201"
    height="27"
    viewBox="0 0 201 27"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path
      fill-rule="evenodd"
      clip-rule="evenodd"
      d="M53.5733 15.9002C44.9379 18.3402 34.9678 20.7684 25.3765 21.3747C17.1787 21.8922 9.26034 21.0884 2.77905 17.6685C1.86542 17.187 0.721309 17.518 0.22721 18.4091C-0.267642 19.2995 0.0728007 20.4146 0.986432 20.8968C8.05672 24.6265 16.6778 25.602 25.6198 25.0368C35.3835 24.4202 45.5337 21.9758 54.3424 19.5007C55.3644 21.5185 57.4809 23.3999 61.2093 24.7879C66.9359 26.9203 74.7548 26.8939 82.9918 25.6923C94.9383 23.9504 107.789 19.7965 116.052 16.8449C116.391 16.7245 116.896 16.533 117.513 16.2804C117.702 16.6856 117.912 17.085 118.146 17.4769C120.172 20.8932 123.757 23.6553 127.41 24.6419C150.579 30.8974 177.619 23.4021 199.635 17.3022C200.629 17.0255 201.209 16.0096 200.93 15.0355C200.644 14.0615 199.605 13.4955 198.603 13.7722C177.204 19.7018 150.933 27.1831 128.412 21.1045C125.64 20.3558 122.944 18.233 121.407 15.6404C121.234 15.3511 121.083 15.0553 120.94 14.7551C123.976 13.2892 127.546 11.2457 129.467 9.05823C131.44 6.81574 131.929 4.42204 130.212 2.1612C128.736 0.228469 126.499 0.0640405 124.172 1.06601C121.663 2.13917 119.08 4.64808 118.244 5.82548C116.677 8.02467 116.18 10.4103 116.466 12.7365C115.728 13.0404 115.129 13.2665 114.759 13.3986C106.677 16.2848 94.1158 20.3588 82.4345 22.0625C74.9183 23.1591 67.7787 23.3052 62.553 21.36C60.3243 20.5298 58.8517 19.5609 58.0526 18.4363C59.6298 17.9768 61.1505 17.5246 62.6035 17.093C65.4769 16.2393 71.4596 14.8263 75.734 12.3078C79.1332 10.3054 81.438 7.58134 81.3039 4.16659C81.2354 2.41223 80.1937 1.24142 78.5359 0.585187C76.0586 -0.394756 71.7744 0.0794238 70.1791 0.409742C65.3406 1.4095 58.8827 5.54804 55.6876 10.2114C54.4124 12.0722 53.6539 14.0189 53.5733 15.9002ZM57.548 14.7536C58.915 14.3528 60.2362 13.9594 61.5053 13.5821C64.1874 12.7849 69.7942 11.5187 73.7854 9.16684C75.8989 7.9219 77.6245 6.43035 77.5409 4.30678C77.5341 4.14162 77.3662 4.09465 77.2178 4.02712C76.988 3.92362 76.7252 3.8524 76.445 3.79661C74.5492 3.41932 72.0026 3.78412 70.9602 3.99993C66.9005 4.83893 61.5 8.33665 58.8194 12.2498C58.2529 13.0763 57.8018 13.9183 57.548 14.7536ZM120.187 11.0467C121.957 10.1593 123.81 9.0861 125.271 7.91824C126.047 7.29798 126.702 6.66012 127.117 5.99802C127.463 5.45042 127.599 4.88958 127.184 4.34786C127.019 4.12838 126.77 4.12401 126.514 4.16511C126.243 4.20915 125.964 4.30309 125.685 4.4242C123.848 5.21256 121.95 7.05428 121.34 7.91824C120.624 8.92021 120.27 9.98018 120.187 11.0467Z"
      fill="#657153"></path>
  </svg>
</div>
